tensorflow
tensorflow_datasets
git+https://github.com/sign-language-processing/datasets.git
pympi-ling
git+https://github.com/bricksdont/pose-format.git@fix_tf_tensor_reshape
tqdm
absl-py
numpy
pytest
pytest-cov
